// 添加背景图片
body {
      //自己喜欢的图片地址
      background: url(/images/background.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
}

// Custom styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}
//###### 博客内容透明化 ######
//文章内容的透明度设置
.post-block {
  background: rgba(255,255,255,0.5) none repeat scroll !important;
}

//分页(主页最下面的那一小块)
.pagination {
  background: rgba(255,255,255,0.8);
}

//菜单栏背景
.header-inner {
  background: rgba(255,255,255,0.5);
}

//侧边框的透明度设置
.sidebar-inner {
  background: rgba(255,255,255,0.5) none repeat scroll !important;
}

//评论区
.comments {
  background: rgba(255,255,255,0.5);
}
